*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    width: 100%; 
    --primary-color-:#00203F;
    --secondary-color-:#ADEFD1;

}
body{
    margin: 0;
}