:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    --primary-color: #00203F;
    --secondary-color: #ADEFD1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.cart-counter{
    position: absolute ;
    top: 7px ;
    right: 130px;
    background: red ;
    color: white ;
    border-radius: 50% ;
    padding: 5px 7px ;
    font-size: 12px ;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}


.cart-card {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 90%;
    max-width: 600px;
}

.cart-img{
    height: 150px;           
    /* Fixed height for all images */
     width: 80%;
     object-fit: cover;
     margin: 1rem;   
}
.price {
    font-size: 1.2em;
    color: #e28a2b;
    font-weight: bold;
}

.quantity {
    font-size: 1em;
    font-weight: bold;
    color: var(--secondary-color);
}

.cart-btn{
align-content: center;
}

.empty-cart {
    width: 40%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.empty-cart-text{    
    text-align: center;
    font-weight: 900;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    margin: 1rem; 
    border-radius: 50%;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 2s;
  }

  .cart-order {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #fdf5e6;
    color: var(--primary-color);
    font-size: 1rem;
    width: 300px;
    margin: 2rem auto;
}



/* CSS */
.button{
    background-color: #fff000;
    border-radius: 8px;
    color: #000;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    margin: 0.5rem;
    cursor: pointer;
    transition: 200ms;
    border: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.button:hover {
    background-color: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}


.button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}

.btn-trash{
    width: 5%;
}