body{
    /* background-color: chartreuse; */
}
.category-head{
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  color:darkorange;
  background-color: ghostwhite;
  justify-content: center;
    align-items: center;
}

.category{
    display:flex;
    flex-wrap: wrap;
    word-wrap:break-word;
    gap: 1.5rem;
    width: 100%;
    /* margin: 1rem; */
    justify-content: center;
    background-color: var(--secondary-color);
}

img{
    width: 100%;
    height: auto;
}

.category-card{
    margin: 1rem;
    width: 210px; 
    padding: 0.5rem;    
    border: 2px solid black;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    max-width: 210px;
}

.category-image{
  height: 150px;           
  /* Fixed height for all images */
   width: 80%;
   object-fit: cover;
   margin: 1rem;     
  }

.category-title{
  font-size: 16px;
  font-weight: 900;
  color: var(--secondary-color);
  margin: 12px 0 8px;
  line-height: 3.0;
  height: 44px;
  overflow: hidden;
}

.category-price {
  font-size: 18px;
  font-weight: bold;
  color:lightgoldenrodyellow;
}

.category-card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.brand{
  color:#fff;
  margin: 0;
  margin-bottom: 1rem;
}

.empty{
    font-size: x-large;
    font-weight: 700;
}


/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 1rem;
  margin-top:1rem;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}