/* Body Styling */
body {
    background-color: #f9f9f9;
}

/* Category Header */
.category-head {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

/* Category Section */
.category {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 1rem;
}

/* Images inside Category */
img {
    width: 100%;
    height: auto;
}

/* Category Card Styling */
.category-card {
    margin: 1rem;
    width: 210px;
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    max-width: 210px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Category Card Hover Effect */
.category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Category Image Styling */
.category-image {
    height: 150px;
    width: 80%;
    object-fit: cover;
    margin: 1rem;
}

/* Category Title Styling */
.category-title {
    font-size: 16px;
    font-weight: 900;
    color: var(--secondary-color);
    margin: 12px 0 8px;
    line-height: 1.6;
    height: 44px;
    overflow: hidden;
}

/* Category Price Styling */
.category-price {
    font-size: 18px;
    font-weight: bold;
    color: lightyellow;
}

/* Brand Name Styling */
.brand {
    color: #fff;
    margin: 0;
    margin-bottom: 1rem;
}

/* Empty State Message */
.empty {
    font-size: x-large;
    font-weight: 700;
    color: #888;
}

/* Button Styling */
.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Button Hover Effect */
.button-74:hover {
    background-color: #fff;
    transform: scale(1.05);
}

/* Button Active State */
.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
    .button-74 {
        min-width: 120px;
        padding: 0 25px;
    }
}
