/* Filter panel wrapper */
.filter-container {
    width: 250px;
    padding: 16px;
    border-right: 1px solid black;
    font-family: 'Segoe UI', sans-serif;
    color: violet;
    height: 120vh;
    background-color:cornsilk;
    margin-top: 0.7rem;
  }
  
  /* Headings */
  .filter-container h1 {
    font-size: 20px;
    margin-bottom: 16px;    
    color:crimson;
    font-weight: 900;
  }
  
  .filter-container h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:#007bff;
    font-weight: 800;
  }
  
  /* Label styles */
  .filter-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color:darkgreen;
    cursor: pointer;
    font-weight: 500;
  }
  
  /* Inputs */
  .filter-container input[type="checkbox"],
  .filter-container input[type="radio"] {
    margin-right: 8px;
    cursor: pointer;
  }
  
  /* Rating options */
  .filter-container .rating-options label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
  }
  
  /* Clear button */
.clr-btn {
  background: #fbca1f;
  font-family: inherit;
  padding: 1rem;
  font-weight: 800;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 0.5rem;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  margin: 1rem;
}

.clr-btn:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.clr-btn:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

  /* price-range */

  .price-range {
    margin-top: 1rem;
  }
  
  .price-range h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .price-slider {
    width: 70%;
    -webkit-appearance: none;
    height: 6px;
    background:#00203F;
    border-radius: 4px;
    outline: none;
    transition: background 0.3s;
    margin-bottom: 0.5rem;
  }
  
  .price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--secondary-color-);
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
  }
  
  .price-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #007bff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .price-value {
    font-size: 1rem;
    color:darkgreen;
    font-weight: 500;
  }
  