body{
    /* background-color: chartreuse; */
}

.category{
    display:flex;
    flex-wrap: wrap;
    word-wrap:break-word;
    gap: 1.5rem;
    width: 100%;
}

img{
    width: 100%;
    height: auto;
}

.category-card{
    margin: 1rem;
    width: 200px; 
    padding: 0.5rem;    
    border: 2px solid black;
    border-radius: 1rem;
}

.empty{
    font-size: x-large;
    font-weight: 700;
}