body{
    /* background-color: chartreuse; */
}

.category{
    display:flex;
    flex-wrap: wrap;
    word-wrap:break-word;
    gap: 1.5rem;
    width: 100%;
    border: 2px solid black;
}

img{
    width: 100px;
    height: auto;
}

.category-card{
    margin: 1rem;
    width: 150px; 
    height: auto;
}